.hidden {
    display: none;
}

#home,
#learn,
#stories,
#share,
.navbar,
footer {
    opacity: 0;
}

.red {
    color: $red;
}

#menuMobileHome {
    display: none;
}

#menuMobileRegister {
    display: none;
}

body,
html {
    background-color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 100%;
    overflow-x: hidden;
}


/*.container {width: 100%;margin-bottom: 15px;} /*Forces Bootstrap grid full screen width*/

.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fjalla One', sans-serif;
}

h2 {
    font-weight: 900;
    font-size: 2em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 2em;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
    color: #000;
    text-decoration: none;
    opacity: .7;
}

p,
li {
    font-size: 1em;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner {
    p {
        font-weight: 200;
        margin-bottom: 80px;
    }
}

.bannerHeading {
    margin: 20px 0px 50px 0px;
}

.btnRed {
    font-weight: 500;
    border-radius: 25px;
    background: $red;
    border: 2px solid $red;
    color: $white !important;
    padding: 5px 50px 5px 50px;
    line-height: 20px;
    align-content: center !important;
    font-family: 'Fjalla One', sans-serif;
}

.btnRed:hover {
    background: $white;
    color: $red !important;
    text-decoration: none;
}

.btnBlue {
    font-weight: 500;
    border-radius: 25px;
    background: $blue;
    border: 2px solid $blue;
    color: $white !important;
    padding: 5px 50px 5px 50px;
    line-height: 20px;
    align-content: center !important;
    font-family: 'Fjalla One', sans-serif;
}

.btnBlue:hover {
    background: $white;
    color: $blue !important;
    text-decoration: none;
}

.btnB1 {
    font-weight: 500;
    text-transform: lowercase;
    border-radius: 25px;
    background: $white;
    border: 2px solid $white;
    color: #4eaee9;
    padding: 5px 50px 5px 50px;
    align-content: center;
    margin-top: 200px;
    font-family: 'Fjalla One', sans-serif;
}

.btnB1:hover {
    opacity: .8;
    border: 2px solid #4eaee9;
    color: #4eaee9;
    text-decoration: none;
}

.btnB2 {
    font-weight: 500;
    text-transform: lowercase;
    border-radius: 25px;
    background: $white;
    border: 2px solid $white;
    color: #9d5bc2 !important;
    padding: 5px 50px 5px 50px;
    align-content: center !important;
    margin-top: 200px;
    font-family: 'Fjalla One', sans-serif;
}

.btnB2:hover {
    opacity: .8;
    border: 2px solid #9d5bc2;
    color: $white;
    text-decoration: none;
}

.btnB3,
.btnB4 {
    margin-top: 20px;
    font-weight: 500;
    text-transform: lowercase;
    border-radius: 25px;
    background: $white;
    border: 2px solid $white;
    color: $black;
    padding: 5px 50px 5px 50px;
    align-content: center !important;
    font-family: 'Fjalla One', sans-serif;
}

.btnB3:hover,
.btnB4:hover {
    opacity: .7;
    background: $white;
    border: 2px solid $white;
    color: $black;
    text-decoration: none;
}
 

// Arrow down bounce loop
.fa {
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}

.bounce {
 position: absolute;
 bottom: 0px;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 margin-bottom: 20px;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
 z-index: 2;
 color:#fff;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
//end bounce
