    footer {
        background-color: #eb1f27;
        width: 100%;
    }
    
    #footer-logo {
        display: inline-block;
        text-align: center;
    }
    
    #logoFooter {
        display: inline-block;
        text-align: center;
        width: 100%;
        img {
            display: inline-block;
            width: 100%;
        }
    }
    
    #footer {
        display: inline-block;
        margin: 0;
        width: 100%;
        padding: 10px 0px 0px 0px;
        background-color: #eb1f27;
        ul li {
            list-style-type: none;
            float: left;
            line-height: 50px;
            a {
                color: $white;
                display: inline-block;
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 200;
                text-transform: lowercase;
                font-size: 1em;
            }
            a:hover,
            a:focus {
                color: $white;
                opacity: .6;
            }
        }
    }
    
    .desk-footer {
        display: none;
    }
