#home {
    margin-top: 50px;
    margin-bottom: 100px;
}

#bannerHome1 {
    background: url(../../img/home/home_ban1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
}

#bannerHome2 {
    background: url(../../img/home/home_ban2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
}

#bannerHome3 {
    background: url(../../img/home/home_ban3.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    margin-top: 100px;
    margin-bottom: 50px;
}

#bannerHome4 {
    background: url(../../img/home/home_ban4.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
}

#content1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    padding-top: 100px;
}

#content1 h4 {
    color: $black;
}

#content1 p {
    color: $black;
    margin-top: 40px;
}

#content1 h5 {
    color: $black;
    margin-top: 20px;
}

.homeSVG {
    margin-top: 50px;
}
