#statistics {
    h4 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.stat-item {
    background-color: $white;
    color: $white;
    padding:20px;
    min-height: 250px;
    margin-bottom:100px;
    min-height: 250px;
    background-color: $purple;
      display: flex;
  justify-content: center;
  flex-direction: column;
    .statsIcon {
        background-color: transparent;
        height: 0;
    }
    p {
        font-weight: 200;
        font-size: 1.2em;
    }
}
