#statistics {
    h4 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.statItem {
    background-color: $white;
    color: $white;
    margin-bottom: 30px;
    min-height: 250px;
    display: flex;
  justify-content: center;
  flex-direction: column;
  .inner {
    background-color: $purple;
    padding: 10px;
    p {
      padding-top: 25px;
        font-weight: 200;
        font-size: 1.2em;
    }
  }
}
