#menuMobileHome {
    display: block;
}

#menuMobileRegister {
    display: block;
    color: $red;
}

#menuHome {
    display: none;
}

#menuRegister {
    display: none;
}

.nav li a:hover,
.nav li a:focus {
    background: transparent !important;
}

.navbar-nav li a {
    outline: 0;
}

.navbar-nav li a:hover {
    opacity: .7;
}

.nav-top {
    margin-top: 40px;
}


/*Fixes top margin*/

.navbar-default {
    background-color: $white;
    border-color: $white;
}

.navbar-default {
    .navbar-nav li {
        margin-left: 40px;
        a {
            color: $black;
        }
    }
}

.navbar-brand img {
    display: block;
    height: 25px;
}

nav ul li {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    text-transform: lowercase;
    font-size: .75em;
}
