#bannerShare1 {
    background: url(../../img/share/share_ban1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
}

#share {
	h4 {
		font-weight: 500;
		margin-bottom: 50px;
	}
        #twitter {
        	background-color: $white;
        }
        #facebook {
        	background-color: $shareRightSide;
        }
}
