#bannerShare1 {
    background: url(../../img/share/share_ban1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
}
