#bannerStories1 {
    background: url(../../img/stories/stories_ban1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
}

#storiesContainer {
    margin-top: 100px;
    margin-bottom: 100px;
}

.story {
    background-color: $white;
    padding: 5px 5px 5px 5px;
}

.story .inner {
    background-color: $purple;
}

#btnLoadStories {
    margin-top: 50px;
}

#storiesFooter {
    margin-top: 100px;
    margin-bottom: 100px;
}

#storiesFooter h4 {
    margin-bottom: 50px;
}

.imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
}
.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  /*remove comment if you want a gradual transition between states
      -webkit-transition: visibility opacity 0.2s;
      */
}
.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}