#bannerStories1 {
    background: url(../../img/stories/stories_ban1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
}

#storiesContainer {
    margin-top: 100px;
    margin-bottom: 100px;
}

.story {
    background-color: $white;
    color: $white;

         a {
          color: $white;
        }
        a:hover {
          text-decoration: none;
          opacity: .8;
        }   
.inner {
    background-color: $purple;
        padding: 5px 5px 5px 5px;
}
}

#storiesFooter {
    margin-top: 100px;
    margin-bottom: 100px;
h4 {
    margin-bottom: 50px;
}
}