.nav li a:hover,
.nav li a:focus {
    background: transparent !important;
}

.navbar-nav li {
a{
    color: $white;
}
a:hover {
    opacity: .7;
}
}

.nav-top {
    margin-top: 40px;
}

.navbar-default {
    background-color: $red;
    border-color: $red;
}

.navbar-brand img {
    display: block;
    height: 25px;
}

nav ul li {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 200;
    text-transform: lowercase;
    color: $white;
}
